{% extends 'main/base.html' %}
{% block content %}
<form method="GET">
    <input type="text" name="login" placeholder="Buscar por login"/>
    <input type="submit" value="Buscar"/>
</form>
<a href="{% url 'pessoa.novo' %}">Novo> </a>

<table>
    <thead>
        <tr>
            <th>Login</th>
            <th>Senha</th>
            <th>Data de Nascimento</th>
            <th>Ações</th>

        </tr>
    </thead>
    <tbody>
        {% for pessoa in object_list %}
        <tr>
            <td>{{ pessoa.login }}</td>
            <td>{{ pessoa.senha }}</td>
            <td>{{ pessoa.data_nascimento|date:"d/m/Y" }}</td>
            <td>
                <a href="{% url 'pessoa.editar' pessoa.pk %}">Editar</a>
                <a href="{% url 'pessoa.remover' pessoa.pk %}">Remover</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}